.confirm {
  border-top: 5px solid blue !important;
  border-radius: 0;
}
.recover {
  border-top: 5px solid green !important;
  border-radius: 0;
}
.death {
  border-top: 5px solid red !important;
  border-radius: 0;
}

.testing {
  --bs-gutter-x: 0.5rem;
}
h4 {
  color: rgb(161, 161, 161);
}
.btn:focus {
  box-shadow: none;
}
.drop {
  background-color: #fff;
  border-color: #fff;
  color: rgb(175, 174, 174);
}
.end {
  background-color: #fff;
  border-color: #fff;
  color: rgb(21, 170, 21);
}
.end:focus {
  box-shadow: none;
}
.tableScroll {
  max-height: 100px;
}
.cardBot {
  margin-bottom: 40px !important;
}
.cardRecov {
  border-top: 5px solid green !important;
  margin-left: 12px;
}
